# ====================================================
#               MawiEXTEND .gitignore
#                 Author: Rabusoore
# ====================================================

# Maven Build Output
target/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# Visual Studio Code
.vscode/
*.code-workspace

# OS / System Specific Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs & Crash Reports
*.log
hs_err_pid*.log
replay_pid*.log

# Local Server / Testing Environment (Jika Anda menjalankan server uji coba di folder ini)
run/
server/
